header {
    background-color: brown;
    padding: 20px;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    height: 60px;
    color: #FFF;
    width: 1200px;
    margin: 0 auto;
}

header a {
    text-decoration: none;
    color: #FFF;
}

header h1 {
    text-shadow: 5px 0px 4px black;
}