.form-display {
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: calc(100vh - 140px);
}

.form {
    width: 500px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px black;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.form-control {
    height: 30px;
    margin-bottom: 20px;
}


.form-group button {
    width: 100%;
    height: 30px;
}

.form-group button:hover {
    cursor: pointer;
    background-color: brown;
    color: #FFF;
    transition: all 0.4s;
    border: none;
    border-radius: 5px;
}

.form-group hr {
    margin: 10px 0px 10px 0px;
}

.form-group a {
    text-align: center;
    text-decoration: none;
}

.form-group a:hover {
    color: brown;
    text-decoration: underline;
}

small {
    color: brown;
    margin: 3px 0px 10px 0px;
}